<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.monpss">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GrandActivity"></activity>
        <activity android:name=".GridActivity"></activity>
        <activity android:name=".DptActivity"></activity>
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".InfoActivity"></activity>
        <activity android:name=".notifyActivity"></activity>
        <activity android:name=".setTimeActivity"></activity>
        <activity android:name=".MissionActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <receiver android:name=".AlarmReceiver"></receiver>
    </application>

</manifest>
